body{
    margin: 0%;
    padding: 0%;
    background: black;
}
.container{
    font-family: "Arial", Helvetica, sans-serif;
    padding: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 150px;
    white-space: nowrap;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}